@import "@/theme/variables.less";

.loaderInit {
  height: 100vh !important;

  :global {
    .ant-spin {
      width: 100%;
      height: auto !important;
    }
  }
}

.landing {
  .progress {
    height: 2px;
    background-color: lightcoral;
    position: fixed;
    z-index: 31;
    top: 0;
  }

  .siteLayout {
    background-color: #fff;

    .siteLayoutContent {
      position: relative;
      min-height: 100vh;
      overflow: hidden;
      background-color: #fff;

      :global {
        .ant-back-top {
          right: 50px;
        }
      }
    }
  }
}

.page404,
.page403,
.page500 {
  width: 100%;
}

:global {
  .gm-fullscreen-control {
    display: none !important;
  }

  .ant-message-custom-content {
    display: flex;
    max-width: 250px;
    align-items: center;

    span {
      text-align: left;
    }
  }

  .ant-image-preview-root {
    .ant-image-preview-mask {
      background-color: rgba(0, 0, 0, 0.6);
    }

    .ant-image-preview-img {
      border-radius: @thumb-border-radius;
      border: 10px solid #fff;
      box-shadow: 4px 4px 10px #000;
    }
  }
}

.prettified {
  svg {
    width: 32px;
    height: 32px;
    filter: drop-shadow(0 0 2px @unliked-bg);
    transition: @main-transition;

    path:first-child {
      fill: #fff;
    }

    path:last-child {
      fill: @unliked-bg;
      opacity: 0.6;
    }

    &:hover {
      transform: scale(1.1);

      path:last-child {
        opacity: 0.8;
      }
    }
  }

  &.liked {
    svg {
      filter: drop-shadow(0 0 2px @liked-bg);

      path:last-child {
        fill: @liked-bg !important;
      }
    }
  }

  &.regular {
    svg {
      path:last-child {
        fill: @regular-btn-bg !important;
      }
    }
  }

  &.white {
    svg {
      path:last-child {
        fill: #fff !important;
      }
    }
  }
}