.loader {
  display: block;

  &.fullScreen {
    height: 100%;
    position: relative;

    :global {
      .ant-spin-nested-loading {
        height: inherit;
        max-height: 100vh;
      }

      .ant-spin {
        height: inherit;
        margin: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}
