.subscriptionWrapper {
  width: 100%;
  padding: 0;
}

.subscriptionCards {
  display: block;
  margin-top: 20px;

  .subscriptionCard {
    float: left;
    width: 150px;
    margin-right: 10px;
    margin-bottom: 10px;

    .cardImg {
      margin: 10px;
      border-radius: 4px;
      width: 130px;
      height: 130px;
    }

    :global {
      .ant-card-meta-avatar {
        padding-right: 10px;
      }

      .ant-card-body {
        padding: 10px;
      }
    }
  }
}

.form {
  width: 100%;
}
