@import 'variables';

@search_height: 50px;
@search_width: 60%;

.landing {
  .page {
    height: 100%;
    position: relative;
  }

  .headerSection {
    position: relative;
  }

  .contentFixed {
    position: relative;
    top: 48px;
  }
}
