@import '~pages/landing/valiables';

.header {
  top: 0;
  z-index: 30;
  padding: 15px 20px;
  width: 100%;
  background-color: transparent;
  transition: all 0.5s ease-in-out;

  .headerText {
    span {
      color: rgba(255, 255, 255, 0.8);
      text-transform: uppercase;
      font-size: 14px;
      line-height: 40px;
      font-weight: bold;
      margin-left: 10px;
      transition: color 0.5s ease-in-out;
      cursor: pointer;
    }

    svg {
      color: rgba(255, 255, 255, 0.8);
      width: 20px;
      height: 20px;
      position: relative;
      top: 2px;
      transition: color 0.5s ease-in-out;
    }

    &:hover * {
      color: #fff;
    }

    :global {
      .ant-divider-vertical {
        border-color: rgba(255, 255, 255, 0.8);
        border-width: 1px;
        height: 1.9em;
        transition: border-color 0.5s ease-in-out;
      }
    }
  }

  .countryIcon {
    position: relative;

    div {
      position: relative;
      top: 7px;
      cursor: pointer;

      span {
        font-size: 30px !important;
      }

      .flag {
        width: 50px;
      }
    }
  }

  &.transform {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);

    .headerText {
      span, svg {
        color: #333;
      }

      &:hover * {
        color: #333;
      }

      :global {
        .ant-divider-vertical {
          border-color: #333;
        }
      }
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.9);
    }
  }

  img {
    width: 80px;
    cursor: pointer;

    &.icon {
      width: 45px;
      height: 40px;
      margin-right: 15px;
    }

    &.logo {

    }
  }

  .headerAuth {
    display: none;
  }
}

.swiperSlide {
  > div {
    width: 100%;
  }

  img {
    width: 100%;
    height: 100%;
  }

  .slogan {
    position: absolute;
    text-align: center;
    top: calc(50% - 150px);
    left: calc(50% - @curved-box / 2);
    width: @curved-box;
    height: @curved-box;
    cursor: pointer;

    h5 {
      position: relative;
      font-family: 'Berkshire Swash', cursive;
      z-index: 20;
      top: -23px;
      font-weight: bold;
      color: #fff;
      font-size: 28px;
      transition: text-shadow 0.5s ease-in-out;
      cursor: pointer;

      &:hover {
        text-shadow: 0px 0 5px #333;
      }
    }

    .curved {
      position: absolute;
      width: @curved-box;
      height: @curved-box;
      z-index: 1;

      svg {
        path {
          fill: transparent;
        }

        text {
          textPath {
            fill: #fff;
            font-family: 'Berkshire Swash', cursive;
            font-style: normal;
            font-weight: 900;
            font-size: 32px;
            text-shadow: 3px 0 5px #333;
          }
        }
      }
    }

    img {
      width: 200px;
      height: 187px;
      position: relative;
      left: calc(@curved-box / 2 - 100px);
      top: 40px;
    }
  }

  .text {
    h5 {
      color: #fff;
      padding: 0 20%;
      display: contents;
      font-size: 15px;
    }
  }
}