.siteTagPlus {
  background: #1890ff !important;
  color: #fff !important;
  cursor: pointer !important;
  border-color: #40a9ff !important;

  &:hover {
    background: #40a9ff !important;
  }
}

.siteTagDisabled {
  background: rgb(242, 242, 242) !important;
  color: rgb(203, 203, 203) !important;
  cursor: not-allowed !important;
  border-color: rgb(223, 223, 223) !important;

  &:hover {
    background: rgb(242, 242, 242) !important;
  }
}

.editTag {
  user-select: none;
  margin-bottom: 8px !important;
}

.tagInput {
  width: 78px;
  margin-right: 8px;
  vertical-align: top;
}

.collapsePanel {
  margin-bottom: 20px !important;

  :global {
    .ant-form-item-required {
      &::before {
        display: none !important;
      }
    }

    .ant-collapse-header {
      .ant-collapse-header-text {
        font-size: 14px;
      }
    }
  }
}

.disabledPanel {
  text-align: center;
}

:global {
  ::placeholder {
    font-size: 12px;
  }
}

.mandatory,
.validated {
  > span:first-child {
    position: relative;

    &::after {
      content: "\26A0";
      font-size: 15px;
      color: rgb(250, 117, 123);
      position: absolute;
      right: 8px;
      top: 3px;
      transform: scale(.9, 1);
    }
  }

  :global {
    .ant-input-clear-icon {
      right: 25px;
    }
  }
}

.validated {
  > span:first-child {
    &::after {
      content: "\2713";
      color: rgb(105, 203, 63);
      top: 8px;
      border: 1px solid #69cb3f;
      border-radius: 6px;
      font-size: 8px;
      width: 12px;
      height: 12px;
      line-height: 12px;
      text-align: center;
      transform: none;
    }
  }
}

