.grid {
  width: 100%;

  .action {
    margin-right: 10px;
  }

  :global {
    .ant-table-footer {
      padding: 5px 10px !important;
      text-align: right;
    }
  }
}

:global {
  .react-json-view {
    background-color: rgba(39, 40, 34, 0.8) !important;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
  }
}
