.grid {
  width: 100%;

  .action {
    margin-right: 10px;
  }

  :global {
    .ant-table-footer {
      padding: 5px 10px !important;
      text-align: right;
    }
  }
}

.tdName {
  max-height: 20px;
  overflow: hidden;
  display: flex;

  img {
    width: 20px;
    max-width: 20px;
    margin-right: 5px;
  }

  span:last-child {
    display: inline-block;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

:global {
  .react-json-view {
    background-color: rgba(39, 40, 34, 0.8) !important;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
  }
}
