.featureWrapper {
  width: 100%;

  .form {
    :global {
    }
  }
}

.nowrap {
  white-space: nowrap;
}

.example {
  :global {
    .ant-row {
      margin: 0;
    }

    .ant-form-item .ant-form-item-label {
      padding: 0;
    }
  }

  a {
    font-size: 12px;
    margin-left: 10px;
  }

  label {
    margin-left: 10px;

    &::after {
      display: none;
    }

    a {
      margin-left: 0;
    }
  }

  button {
    margin-left: 10px;
  }
}
