.layout {
  width: 100%;
}

.page {
  width: 100%;

  :global {
    .ant-page-header {
      padding: 10px 0 10px 10px;
    }

    .ant-page-header-heading-extra {
      padding-right: 5px;
    }

    .ant-spin-nested-loading {
      width: 100%;
    }
  }
}
