.layout {
  width: 100%;
}

.page {
  width: 100%;
  min-height: 80vh;
  padding: 0;

  .pageContent {

  }

  .grid {
  }

  .card {
  }

  :global {
    .ant-page-header {
      padding: 10px 10px 10px 20px;
      background-color: #fff;
    }

    .ant-page-header-heading-extra {
      padding-right: 5px;
    }

    .ant-spin-nested-loading {
      width: 100%;
    }

    .ant-spin-text {
      display: flex !important;
      justify-content: center;
    }
  }
}

.subTitle {
  display: flex;
  box-shadow: 1px 1px 4px -2px lightslategray;
  background-color: #fff;
  align-items: center;
  padding: 12px 20px;
  justify-content: space-between;

  .title {
    font-size: 14px;
  }

  .extra {
    display: flex;
    column-gap: 8px;
  }
}
