.campaignWrapper {
  width: 100%;
  padding: 0;

  :global {
    .ant-space {
      display: flex;
    }
  }

  .stretched {
    align-items: stretch;
  }
}

.nowrap {
  white-space: nowrap;
}

.form {
  width: 100%;
  padding: 20px;
}
