.authWrapper {
  display: block;
  margin: auto 20px;

  .loginForm {

  }
}

.loginBtns {
  :global {
  }
}

.authBtn {
  width: 100%;
}

.authModal {
  :global {
    .ant-modal-header {
      border: none !important;
    }

    .ant-modal-body {
      padding-top: 8px;
    }
  }
}

.modalHeader {
  margin-bottom: -15px;

  div, h4, h6 {
    text-align: center;
  }

  .icon {
    margin-top: 10px;
    margin-bottom: 10px;

    svg {
      height: 40px;
      width: 40px;
      color: lightslategray;
    }
  }
}

.passwordStrength {
  position: relative;
  transition: all 0.4s cubic-bezier(0.08, 0.82, 0.17, 1) 0s;
  top: -15px;
  width: 80%;

  span {
    position: absolute;
    top: 3px;
    right: -50px;
    text-transform: lowercase;
    font-variant: small-caps;
  }

  :global {
    .ant-progress-inner {
      margin-bottom: 0;
      background-image: linear-gradient(135deg, transparent, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%);
      background-size: 50px 25px;
      box-shadow: 0 5px 5px -5px #333 inset;
    }
  }
}

:global {
  .ant-form-item-explain-error {
    & + .ant-form-item-extra {
      margin-bottom: 10px;
    }
  }

  .ant-form-item-extra {
    font-size: 12px;
  }

  span.ant-input-prefix {
    margin-right: 10px !important;
  }
}

.updateEmail {
  margin-bottom: 0;

  .updateEmailBtns {
    display: flex;
    flex-direction: row-reverse;

    button {
      margin-left: 10px;
    }
  }

  :global {
    .ant-form-item-explain-error {
      & + .ant-form-item-extra {
        margin-bottom: 0;
      }
    }
  }
}
