.users {
  .avatarWrapper {
    width: 20px;
    overflow: hidden;
    margin-right: 10px;

    .gridImg {
      height: 20px;
      width: 20px;
      margin-top: -1px;
      border-radius: 3px;

      & + span {
        line-height: 20px;
      }
    }

    .avatar {
      margin-right: 10px;
      height: 20px;
      width: 20px;
    }
  }

  .userCards {
    display: block;

    .userCard {
      float: left;
      width: 150px;
      margin-right: 10px;
      margin-bottom: 10px;

      .cardImg {
        margin: 10px;
        border-radius: 4px;
        width: 130px;
        height: 130px;
      }

      :global {
        .ant-card-meta-avatar {
          padding-right: 10px;
        }

        .ant-card-body {
          padding: 10px;
        }
      }
    }
  }

  .currentUser {
    background-color: rgba(255, 191, 0, 0.3);
    padding: 3px 5px;
    border-radius: 2px;
  }

  .signed {
    .in {
      color: #52c41a;
    }

    .out {

    }

    margin: 0 10px 0 5px;
  }

  .nowrap {
    white-space: nowrap;
  }

  .flex {
    display: flex;
  }
}

.profileProvider {
  display: flex;
  margin-top: 18px;

  > div {
    margin-left: 5px;
  }
}

.sendMessage {
  font-size: 16px;

  span[role="img"] {
    margin-right: 10px;

    svg {
      width: 20px;
      height: 20px;
      top: 2px;
      position: relative;
    }
  }
}

.sendMessageBtn {
  span[role="img"] {
    margin-right: 5px;

    svg {
      width: 12px;
      height: 12px;
      top: 1px;
      position: relative;
    }
  }
}

.profile {
  margin-left: -30px;
  display: flex;
  margin-top: 20px;

  .currentUser {
    background-color: rgba(255, 191, 0, 0.3);
    padding: 3px 5px;
    border-radius: 2px;
  }

  img {
    border-radius: 5px;
    margin-right: 20px;
    flex: 20%;
    height: 80px;
  }

  & > div {

  }
}

.profileExpand {
  margin-left: 10px;

  span[role='img'],
  svg[role='img'] {
    margin-right: 10px;
  }

  .verification {
    cursor: pointer;
    color: cornflowerblue;

    &:hover {
      text-decoration: underline;
    }
  }
}

.rules {
  text-transform: lowercase !important;
  font-variant: small-caps !important;

  span[role='img'] {
    margin-right: 0;
  }

  span[role='img']:last-child {
    position: relative;
    top: 1px;
  }
}

.provider {
  text-transform: lowercase;
  font-variant: small-caps;

  span[role='img'] {
    position: relative;
    top: 1px;
  }
}
